@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #828b8f;

  min-width: 1200px;
}

a {
  text-decoration: none;
}

.disable {
  display: none;
}

/* ШАПКА */

.site-header__wrapper {
  width: 100%;
  background-color: #293449;
}

.site-header {
  padding-bottom: 60px;
  margin-bottom: 60px;
  background-color: silver;
  outline: 2px solid pink;
}

.site-header--inner {
  margin-bottom: 0;
}

.site-header__site-logo a {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.site-header__descr {
  margin: 0;
  padding: 0;

  width: 203px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
  outline: 2px solid orange;
}

.header-contacts {
  width: 270px;
  padding: 45px 0;
  outline: 2px solid orange;
}

.header-contacts__phone {
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
}

.header-contacts__descr {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.site-header__site-logo {
  position: relative;
  width: 220px;
  text-align: center;
  padding: 9px;
  box-sizing: border-box;
  background-color: #ee3643;
}

.site-header__site-logo:hover,
.site-header__site-logo:focus {
  outline: none;
  background-color: #ca2c37;
}

.site-header__site-logo:active {
  background-color: #ba2732;
}

.site-header__site-logo::after {
  content: '';
  position: absolute;
  width: 220px;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #a9252e;
}

.site-header__container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  box-sizing: border-box;
  outline: 2px solid blue;
}

/*НАВИГАЦИЯ */

.navigation-header,
.navigation,
.navigation-footer {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation__link {
  display: block;
  padding: 19px 30px;
  font: inherit;
  color: inherit;
  outline: 2px solid yellow;
}

.navigation-footer__link {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.navigation-footer__link--gold {
  color: #ffd180;
}

.navigation-header {
  display: flex;
}

.navigation-header__link {
  position: relative;
  display: block;
  width: 150px;
  padding: 11px 5px 11px 26px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.navigation-header__link--order {
 padding: 11px 5px;
 background-color: #63a63e;
}

.navigation-header__link--bookmarks {
  width: 160px;
}

.navigation-header__link--bookmarks::before {
  content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 26px;
    width: 25px;
    height: 25px;
    background-image: url(../img/bookmark.svg);
    opacity: 0.3;
    background-repeat: no-repeat;
}

.navigation-header__link--cart::before {
  content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 18px;
    width: 25px;
    height: 25px;
    background-image: url(../img/cart.svg);
    opacity: 0.3;
    background-repeat: no-repeat;
}

.navigation-header__link--cart:hover::before,
.navigation-header__link--cart:focus::before,
.navigation-header__link--bookmarks:hover::before,
.navigation-header__link--bookmarks:focus::before {
  opacity: 1;
}

.navigation-header__link--cart:active::before,
.navigation-header__link--bookmarks:active::before {
  opacity: 0.5;
}

.navigation-header__link--cart:hover,
.navigation-header__link--cart:focus,
.navigation-header__link--bookmarks:hover,
.navigation-header__link--bookmarks:focus {
  outline: none;
  background-color: #212a3a;
}

.navigation-header__link--cart:active,
.navigation-header__link--bookmarks:active {
  background-color: #161d29;
}

.navigation-header__link--order:hover,
.navigation-header__link--order:focus {
 outline: none;
 background-color: #5fbb2d;
}

.navigation-header__link--order:active {
 background-color: #518534;
 opacity: 0.5;
}

.site-header-nav {
  display: flex;
}

.search__form {
  position: relative;
  margin: 0;
  padding: 0;
}

.search {
  width: 260px;
  box-sizing: border-box;
}

.search__input {
  width: 100%;
  padding: 10px 10px 10px 47px;
  font: inherit;
  background-color: transparent;
  border: none;
  color: 000000;
}

.search:hover,
.search:focus {
  outline: none;
  background-color: #212a3a;
}

.search__label {
  position: absolute;
  display: block;
  top: 10px;
  left: 18px;
  width: 25px;
  height: 25px;
  background-image: url(../img/search.svg);
  opacity: 0.3;
  background-repeat: no-repeat;
  z-index: 10;
}

.search:hover .search__label,
.search:focus .search__label {
  opacity: 1;
}

.search__input:focus {
  background-color: white;
  outline: none;
}

.search__input:focus + .search__label {
  background-image: url(../img/search-hover.svg);
}

.search__input::placeholder {
  color: #ffffff;
}

.search__input:focus::placeholder {
  color: #000000;
}

.account {
  width: 300px;
  outline: 2px solid orange;
}

.account__link {
  font-size: 21px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.account__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.account__item a {
  color: #32425c;
  border-bottom: 1px solid #32425c;
}

/*ОСНОВОНОЙ КОНТЕНТ*/

.site-main__content {
  display: flex;
  justify-content: space-between;
}

.site-main__title {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 28px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: silver;
  outline: 2px solid gold;
}

.breadcrumbs {
  outline: 2px solid gold;
}

.breadcrumbs__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs__link {
  display: block;
  padding: 25px 15px 15px 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.groups {
  width: 300px;
  height: 125px;
  padding: 25px;
  box-sizing: border-box;
  outline: 2px solid green;
}

.groups__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.slider {
  width: 620px;
  min-height: 265px;
  outline: 2px solid red;
  box-sizing: border-box;
}

.slider__descr {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider__descr span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
}

.slider-custom__content {
  display: flex;
  justify-content: space-between;
}

.slider-custom__slide {
  width: 620px;
  height: 285px;
  box-sizing: border-box;
  outline: 2px solid red;
}

.slider-custom__toggles {
  width: 240px;
  outline: 2px solid pink;
}

.slider-custom__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-custom__toggle {
  display: block;
  padding: 15px 21px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  outline: 1px solid green;
}

.slider-custom__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.slider-custom__descr {
  margin: 0;
  padding: 0;
  width: 275px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  outline: 2px solid blue;
}

.slider__arrow,
.slider__toggle {
  font-size: 0;
}

.services {
  padding-top: 70px;
  margin-bottom: 80px;
  background-color: silver;
}

.services__slider-custom {
  margin-top: 70px;
}

.services__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.services__descr {
  width: 400px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.goods__title,
.producers__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.goods__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.goods__item {
  margin-bottom: 25px;
}

.goods__header,
.producers__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px 27px;

  outline: 2px solid orange;
}

.producers__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 60px;
  outline: 2px solid green;
}

.producers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 140px;
  margin-bottom: 25px;
  outline: 2px solid orange;
}

.product-groups {
  min-height: 410px;
  margin-bottom: 52px;
}

.product-groups__slider {
  margin-top: 20px;
}

.product-groups .container {
  display: flex;
  justify-content: space-between;
}

.product-groups__wrapper {
  display: flex;
}

.product-groups__wrapper--left {
  width: 620px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-groups__wrapper--right {
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
}

.product {
  width: 220px;
  height: 315px;
  outline: 2px solid orange;
}

.product__descr {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.product__discount {
  color: #999;
  text-decoration: line-through;
}

.delivery .container {
  display: flex;
  justify-content: space-between;
}

.delivery__companies {
  width: 540px;
  min-height: 370px;
  outline: 2px solid pink;
}

.delivery__contacts {
  width: 300px;
  min-height: 370px;
  outline: 2px solid pink;
}

.delivery__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.delivery__descr {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery__descr:nth-of-type(2) {
  width: 390px;
  margin-bottom: 20px;
}

.delivery__descr--short {
  width: 180px;
  margin-bottom: 30px;
}

.delivery__list {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.delivery__item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.filter {
  width: 220px;
  outline: 2px solid gold;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  border: none;
}

.filter__fieldset--price {
  min-height: 190px;
  outline: 2px solid gold;
}

.filter__fieldset--power {
  min-height: 160px;
  outline: 2px solid gold;
}

.filter__title,
.sort__title {
  margin: 0;
  padding: 0;
  padding: 8px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  outline: 2px solid red;
}

.filter__legend {
  padding-top: 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  outline: 2px solid red;
  text-transform: uppercase;
}

.filter__list {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  list-style: none;
}

.filter__label {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.filter__label:not(.filter__label--last) {
  margin-bottom: 20px;
}

.filter__btn {
  border: none;
  background-color: inherit;
}

.range-filter__toggle {
  font-size: 0;
}

.price-controls__input {
  font: inherit;
}

.sort {
  width: 700px;
  outline: 2px solid gold;
}

.sort__header {
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.sort__arrows {
  position: absolute;
}

.sort__list {
  display: flex;
  width: 480px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  outline: 2px solid gold;
}

.sort__link {
  display: block;
  padding: 8px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px solid #ee3643;
}

.sort__arrow {
  font-size: 0;
}

.site-main__pagination {
  margin-top: 25px;
  margin-bottom: 60px;
}

.pagination {
  outline: 2px solid gold;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__btn {
  display: block;
  padding: 12px 15px;
  margin-right: 12px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  outline: 2px solid green;
}

.product-info {
  padding-top: 65px;
  background-color: silver;
  outline: 2px solid gold;
}

.product-info__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.product-info__descr {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

/*ПОДВАЛ*/

.site-footer {
  margin-top: 85px;
  outline: 2px solid red;
}

.site-footer--inner {
  margin-top: 70px;
}

.site-footer__site-logo {
  width: 220px;
  text-align: center;
  padding: 15px;
  margin-bottom: 35px;
  box-sizing: border-box;
  outline: 2px solid orange;
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  outline: 2px solid gold;
}

.site-footer__wrapper + .container {
  display: flex;
  justify-content: flex-start;
  padding-top: 35px;
}

.site-footer__inner {
  width: 330px;
  outline: 2px solid yellow;
}

.site-footer-nav {
  width: 545px;
  outline: 2px solid yellow;
}

.site-footer__site-logo a {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.site-footer__copygight {
  margin: 0;
  padding: 0;
  width: 245px;
  outline: 2px solid gold;
}

.site-footer__descr {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

.site-footer__feedback {
  width: 140px;
  outline: 2px solid gold;
}

.site-footer__feedback:last-of-type {
  width: 110px;
  margin-left: auto;
}

.site-footer__feedback a {
  font: inherit;
  color: #ffd180;
  text-decoration: none;
}

.navigation-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-footer__item {
  display: block;
  margin-top: 35px;
}

.navigation-footer__item:not(:first-child) {
  margin-left: 35px;
}

.navigation-footer__item:nth-child(6) {
  margin-left: 20px;
}

.site-footer__social {
  margin-left: 145px;
  margin-right: 120px;
}

.social {
  width: 130px;
  outline: 2px solid gold;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-cart__btn,
.popup__btn {
  border: none;
  opacity: none;
  background-color: inherit;
}

.popup__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup__input,
.popup__textarea {
  font: inherit;
}

.social__link {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 0;
  border: 2px solid green;
}

/*ВСПОМОГАТЕЛЬНЫЕ ЭЛЕМЕНТЫ*/

.container {
  width: 940px;
  margin: 0 auto;
}

.btn-original {
  font: inherit;
  font-size: 14px;
  color: inherit;
  text-transform: uppercase;
}
